@charset "UTF-8";
/**
 * @doc 示例样式
 * @author Heanes
 * @time 2018-07-04 15:46:38 周三
 */

html,body{
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding:0;
}

.demo-wrap{
    margin:0 auto;
    padding:20px;
    position:relative;

    .demo-item{
        margin-bottom:10px;
    }

    .demo-para{
        background-color:#eee;
    }

    .demo-href{
        padding:10px;
        background-color:#eee;
        display:inline-block;
    }

    .demo-item-tooltip{
        padding:10px 0;
        .btn{
            margin-bottom:10px;
            margin-right:10px;
        }
    }

    .tooltip-left.btn{
        margin-left:100px;
    }
    .tooltip-right.btn{
        margin-right:100px;
    }
    .tooltip-top-left,.tooltip-bottom-left{
        margin-left:50px;
    }

    .demo-tooltip-theme{
        background-color:#eee;
        margin:20px auto;
        padding:50px;
    }

    .tooltip-adapt-placement{
        position: relative;
        padding: 0;
        width: 900px;
        height: 900px;
        background-color: #eee;

        .btn{
            display: block;
            margin-bottom: 50px;
        }

        .tooltip-placement-adapt-right{
            position: absolute;
            right: 0;
        }
        .tooltip-placement-adapt-right-enough-parent{
            position: absolute;
            right: 100px;
            top: 50%;
        }
        .tooltip-placement-adapt-bottom{
            position: absolute;
            bottom: 0;
        }
    }
}

